%hr.footer-fixed
.container.footer-container
  .footer-links
    - unless public_visibility_restricted?
      = link_to _("Explore"), explore_root_path
      = link_to _("Help"), help_path
    = link_to _("About OneCommons"), "https://www.onecommons.org/"
= footer_message
