%ul
  - if current_user_menu?(:help)
    -# = render 'layouts/header/whats_new_dropdown_item'
    %li
      = link_to _("What's new"), 'https://onecommons.org', target: '_blank'
    %li
      = link_to _("Help"), 'https://onecommons.org', target: '_blank'
    %li
      = link_to _("Support"), 'https://onecommons.org', target: '_blank'
    %li
      = render 'shared/help_dropdown_forum_link'
    %li
      %button.js-shortcuts-modal-trigger{ type: "button" }
        = _("Keyboard shortcuts")
        %span.text-secondary.float-right{ "aria-hidden": true }= '?'.html_safe
    %li.divider
  %li
    = link_to _("Submit feedback"), "https://onecommons.org", target: '_blank'
  - if current_user_menu?(:help) || current_user_menu?(:settings) || current_user_menu?(:profile)
    %li
      = render 'shared/user_dropdown_contributing_link'
  = render 'shared/user_dropdown_instance_review'
  - if Gitlab.com_but_not_canary?
    %li
      = link_to _("Switch to OneCommons Next"), "https://onecommons.org/"
